body {
  background-color: rgb(255, 247, 225);
  margin: 0px;
  padding: 0px;
  font-family: Abel, Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
